/* imported font */

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,100&family=Luxurious+Roman&family=Playfair+Display&family=Poppins:wght@500;700&family=Source+Sans+Pro:wght@300&display=swap');

/* body part started from here */

body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    margin: 0;
}
.container{
    width:1060px;
    margin-bottom: 200px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

    
    
}

/* <!-- start your journry as influencer --> */

header h1{
    font-size: 24px;
    margin-top: 87px;
    margin-left: 120px;
    white-space:nowrap;
    position: relative;
    color: hsl(0, 0%, 100%);
    width: 285px;
    -webkit-text-stroke: 5px rgb(241, 239, 229) ;
    text-transform: uppercase;
   
}

header h1::before{
    content: attr(data-text);
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    color: #3A3A3A;
    -webkit-text-stroke: 0px rgb(241, 239, 229);
    border-right: 2px solid #3a3a3a;
    overflow: hidden;
    animation: animate 6s linear infinite;

}
@keyframes animate
{
    0%,10%,100%{
        width: 0;

    }
    70%,90%,80%{
        width: 100%;
    }

}



.influencer-description{
    display: flex;
    
}
.about-to-be-influencer{
    width: 582px;
    height: 270px;
    margin: 144px 88px 0 0;
    
}
.description{
    font-size: 52px;
    color: #3A3A3A;
    margin-top: 0;
    margin-bottom: 8px;
}
.product-img img{
    width: 440px;
    height: 414px;
    margin-top: 80px;
}
.booking{
    background-color: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: bold;
    border:none;
    width: 196px;
    height: 44px;

}
.booking a ,ion-icon{
    text-decoration: none;
    color: #FFFFFF;
}
.button-icon{
    margin-left: 8px;
    
}

/* popular collection section started from here */
.collection-title{
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px ;
    
}
.product{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    padding: 15px;
    width: 310px;
    height: 476px;
}
.thumbnail img{
    width: 300px;
    height: 256px;
    border-radius: 5px;

}
.product-name{
    font-size: 28px;
    font-weight: 500;
}
.price{
    font-size: 24px;
    
}
ion-icon.filled{
    color:#FB8200;
    font-size: 12px;
}

.rating{
    color: #5E6366;
    margin-left: 8px;
    font-size: 14px;
}
.about-shifting{
    color: #787885;
    font-size: 14px;
    margin: 0;
}
.see-more{
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    margin-top: 50px;
    
}
.see-more a, .arrow-colour{
    text-decoration: none;
    color: #E02C6D;
    font-size: 16px;
    
}


/* best equipment for influencer */

.production-img img{
    width: 404px;
    height: 270px;
}
.inner-text{
    width: 610px;
    height: 224px;
    margin-left: 96px;
}
.inner-text p{
    color: #6C6C6C;
    font-size: 16px;
}
.contact-button{
    width: 155px;
    height: 44px;
    background-color: #E02C6D;
    border: none;
}
.contact-button a ,ion-icon{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

/* footer section */
footer{
    width: 100%;
    background-color: rgb(13, 13, 49);
    height: 200px;
    
}
.align{
    text-align: center;
}
footer>div{
    padding-top: 35px;
}
footer h1{
    color: #FFFFFF;
    font-size: 24px;
    margin: 0;
    
    
}

footer h2,span{
    font-size: 14px;
    color: #FFFFFF ;
    margin:0;
    padding: 3px;
    

}
footer ion-icon{
    color: #FFFFFF;
    font-size: 15px;
    padding: 5px;
}
/* media queries */
/* for mobile */
@media only screen  and (max-width:576px)
{
    .container{
        width: 100%;
    }
    .products{
        
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        align-items: center;
    }
    .influencer-description{
        flex-direction: column;
        align-items: center;
    }
    header h1{
        text-align: left;
    }
    .about-to-be-influencer{
        width: 300px;
        height: 270px;
        margin: 144px 88px 0 0;
        
    }
    .product-img img ,.production-img img,.inner-text{
        width: 90%;
        
        
    }
   
    

}
/* for tablet */
@media only screen and (min-width: 577px) and (max-width:768px)
{
    .container{
        width: 100%;
    }
    .products{
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
    .influencer-description{
        flex-direction: column;
        align-items: center;
    }

}
/* for desktop */
@media only screen and (min-width: 769px) and (max-width:1280px)
{
    .container{
        width: 100%;
    }
    .products{
        grid-template-columns: repeat(3,fr);
    }

}