/* imported font */

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,100&family=Luxurious+Roman&family=Playfair+Display&family=Poppins:wght@500;700&family=Source+Sans+Pro:wght@300&display=swap');

/* body part started from here */

body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    font-weight: 700;
    margin: 0;
}
.container{
    width:1060px;
    margin-bottom: 200px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

    
    
}

/* influencer journey */
.title{
    font-size: 24px;
    
    margin-top: 87px;
    margin-left: 120px;
   
}



.influencer-description{
    display: flex;
}
.about-to-be-influencer{
    width: 582px;
    height: 270px;
    margin: 144px 88px 0 0;
    
}
.description{
    font-size: 52px;
    color: #3A3A3A;
    margin-top: 0;
    margin-bottom: 8px;
}
.product-img img{
    width: 440px;
    height: 414px;
    position: absolute;
    margin-top: 80px;
}
.booking{
    background-color: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: bold;
    border:none;
    width: 196px;
    height: 44px;

}
.booking a{
    text-decoration: none;
    color: #FFFFFF;
}
.button-icon{
    margin-left: 8px;
}
/* popular collection section started from here */
.collection-title{
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px ;
    
}
.product{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    padding: 15px;
    width: 310px;
    height: 476px;
}
.thumbnail img{
    width: 300px;
    height: 256px;
    border-radius: 5px;

}
.product-name{
    font-size: 28px;
    font-weight: 500;
}
.price{
    font-size: 24px;
    
}
ion-icon.filled{
    color:#FB8200;
    font-size: 12px;
}

.rating{
    color: #5E6366;
    margin-left: 8px;
    font-size: 14px;
}
.about-shifting{
    color: #787885;
    font-size: 14px;
    margin: 0;
}
.see-more{
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    margin-top: 50px;
    
}
.see-more a{
    text-decoration: none;
    color: #E02C6D;
    font-size: 16px;
    text-align:center;
}