/* imported font */

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,100&family=Luxurious+Roman&family=Playfair+Display&family=Poppins:wght@500;700&family=Source+Sans+Pro:wght@300&display=swap');

/* body part started from here */

body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    margin: 0;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}

/* influencer journey */
.title{
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 87px;
    margin-left: 120px;
   
}



.influencer-description{
    display: flex;
    justify-content: center;
}
.about-to-be-influencer{
    width: 582px;
    height: 270px;
    margin: 144px 88px 171px 130px
    
}
.description{
    font-size: 52px;
    color: #3A3A3A;
    margin-top: 0;
    margin-bottom: 8px;
}
.product-img img{
    width: 440px;
    height: 414px;
    position: absolute;
    margin-top: 80px;
}
.booking{
    background-color: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: bold;
    border:none;
    width: 196px;
    height: 44px;

}
.booking a{
    text-decoration: none;
    color: #FFFFFF;
}
.icon-icon{
    color: blanchedalmond;
}

